[2021-11-20 09:06] snehilvj opened #1 "Add badge"

[2021-11-20 09:07] #1 closed

[2021-12-25 06:48] emilhe opened #10 "Improve flexibility of Table component"
In React, the Mantine Table component is populated using html elements. In the current Dash Mantine Components (dmc) wrapper, the elements are constructed from (columns, rows) props as simple text elements. While this choice simplifies the syntax form a Dash perspective, it also reduces flexibility.

In my first project using dmc, for example, I needed table entries to act as links. I can think of

[2021-12-28 18:56] Karan-S-Mittal opened #14 "Examples for all components are needed"
Hi,
I was going through Readme and none of the examples are present right now.
This is an amazing package @snehilvj. Thanks for creating it.
I would like to help with examples of things if you will allow me.
Thanks and Regards,
Karan

[2021-12-28 19:45] snehilvj commented on #14
Hi @Karan-S-Mittal thanks for your interest in this project. It was a mistake removing examples before I had a better place to put them. I moved the examples to [dmc-demo](https://github.com/snehilvj/dmc-demo/tree/dev) (currently in development).
This is how it will look once I'm done with all the components. I think this would be a better place to host some interactive examples along with the cod

[2021-12-28 21:02] snehilvj commented on #14
These are the components I'm done with so far and have released on Heroku. https://dash-mantine-components.herokuapp.com/

[2021-12-29 16:39] Karan-S-Mittal commented on #14
Thank you @snehilvj for such a fast response. I am very excited to work on this.
I was also maintaining the [dash-daq](https://github.com/plotly/dash-daq/) package and a big fan of plotly.

[2021-12-31 10:48] snehilvj opened #16 "Documentation for the library"
Hi
I'm starting this thread as I need some help from the community in creating the documentation for the library.

I have started a project [dmc-demo](https://github.com/snehilvj/dmc-demo) for this, and its deployed [here](https://dash-mantine-components.herokuapp.com). The latest version that's been released is 0.2.1, but before I move on with further releases, I'd like to work on the documentati

[2022-01-02 10:01] emilhe commented on #16
I was faced with similar considerations, when I wrote the [`dash-leaflet` docs](http://dash-leaflet.herokuapp.com/). I ended up just creating a Dash app using bootstrap, but I am curios to know about other (better?) options. It's actually on my TODO list to try reimplementing the `dash-leaflet` docs using mantine components :)

[2022-01-02 10:23] Karan-S-Mittal commented on #16
It's my first time writing Docs for the application. I would like to propose an idea, that we can develop docs similar to Dash-docs, where we can showcase components alongside their multiple use-cases.
🙂 @emilhe, I am a big fan of your work and am so glad to be part of this conversation.

[2022-01-04 15:55] snehilvj commented on #16
yeah, I had similar thoughts about this. I have been working on a draft, here it is. Please let me know your feedback.
https://user-images.githubusercontent.com/91216500/148086429-29e9ff68-6ecf-441e-88c4-e2f9acc0efa2.mp4

[2022-01-07 20:30] snehilvj commented on #16
I have released a new version of the dmc library: 0.2.2, and the new [docs](https://dash-mantine-components.herokuapp.com/installation/).
Closing this issue now. Docs related things can be discussed in its own repo: [dmc-demo](https://github.com/snehilvj/dmc-demo).

[2022-01-07 20:30] #16 closed

[2022-01-07 20:48] snehilvj commented on #14
Closing this issue now, as I have created a new project for adding docs/examples: [dmc-docs](https://github.com/snehilvj/dmc-docs).

[2022-01-07 20:48] #14 closed

[2022-01-07 21:11] emilhe commented on #16
I think it looks very nice! I was just about to ask for a link to code and/or a live app to get a better sense of the feel of the docs. The only immediate thing that strikes me as no-so-nice is the "Loading..." part that shows when each time a click on a new component.

[2022-01-09 10:54] emilhe opened #21 "Naming convention className or class_name"
I noticed that [dash bootstrap components](https://dash-bootstrap-components.opensource.faculty.ai/docs/components/) have deprecated the `className` keyword in favor of `class_name`. Have you made any thoughts about which convention to follow, @snehilvj? If you end up choosing to follow that convention (i.e. to use `class_name`), I guess it would be better to make the switch sooner than later.

[2022-01-09 11:00] emilhe commented on #21
Going though the components, I can see that `class_name `is already used consistently.

[2022-01-09 11:00] #21 closed

[2022-01-10 14:32] lucasjamar opened #23 "DatePicker/ DateRangePicker date component with write property"
Hi! Thanks for the awesome lib! Its really nice to finally have a date picker that can go back in time quickly. I even mentioned this in  `dcc`: https://github.com/plotly/dash-core-components/issues/990
However, the `date`/`dates` properties of the date pickers appear to be read only. It would be great to add write properties to them so that in a callback, you can for example set a default date ra

[2022-01-10 16:12] snehilvj commented on #21
Yes I made the transition in the last release: 0.2.2

[2022-01-10 16:36] snehilvj commented on #23
Hi @lucasjamar thanks for creating this issue. This is an important feature, I'll work on this on priority.

[2022-01-10 20:39] snehilvj commented on #23
This has been fixed, will be part of the next release: 0.2.3.

[2022-01-10 20:39] #23 closed

[2022-01-25 20:31] jlfsjunior opened #29 "What to contribute?"
Hey @snehilvj,

Very nice work on the components!

I came across mantine a few times since you first publish your post in the Dash Community, so I took a deeper look and I am 100% sold on the idea of having its components available in Dash.

As I mentioned in the post, I was working in Dash Chakra UI Components, which I ended up losing the enthusiasm around it after I switched jobs... So I would l

[2022-01-29 08:19] sylvoslee commented on #29
What are the advantages of dash mantine components over dash bootstrap components

[2022-01-29 10:19] jlfsjunior commented on #29
@sylvoslee My perspective on this is that Mantine, as Chakra UI and modern component libraries, are closer in React to styled-components ("inline styling" if you prefer) than styling via CSS and classes. This has two big advantages in my opinion when we think about Dash:

1. Because theming is done via React Context, one can very quickly tweak the default theme in a consistent way. For example, if

[2022-01-29 12:26] snehilvj commented on #29
I agree with @jlfsjunior. I barely concern myself with classnames and inline styles when using dmc.
More on my motivations for using dmc:
1. The look and feel of Mantine library. My colleagues use dbc a lot, but I have always found its look and feel a bit outdated. Mantine is refreshingly new.
2. A complete suite of components. dbc lack some major components for my use case such as a **datepicker*

[2022-01-29 16:40] snehilvj commented on #10
Table component now accepts other components as children rather than data directly.

[2022-01-29 16:40] #10 closed

[2022-02-02 06:06] rick643charts opened #33 "DatePicker does not hold selected value, displays one day prior to selection"
The DatePicker component appears to not hold the selected value after losing focus. It seems to select one day prior to the selected value. This issue can be replicated in the first example [here](https://dash-mantine-components.herokuapp.com/components/datepicker) by attempting to select February 3, 2022. After losing focus, the underneath text will show the correct selected value, however the di

[2022-02-02 07:15] snehilvj commented on #33
Hi @rick643charts thanks for your interest in dmc.
I don't see any unusual behaviour in the DatePicker on the docs. Here are some things I tried:
https://user-images.githubusercontent.com/91216500/152109556-889b70f0-5be8-424e-86a0-a8623fd6eec6.mov
Did I miss anything?

[2022-02-02 07:21] rick643charts commented on #33
Appreciate the quick reply. That's very odd that it's behaving differently on my end, yours looks correct. See below:

https://user-images.githubusercontent.com/76791595/152110821-e25c78a2-bade-4970-a0b7-d7c2d53c361f.mp4

[2022-02-02 08:05] snehilvj opened #34 "[Feature Request] Allow Multiselect to trigger callbacks on dropdown close."
As suggested in [forum](https://community.plotly.com/t/multi-select-dropdown-that-doesnt-run-callback-until-all-choices-selected/60613),
Adding a `dropdownClosed` prop will enable triggering callbacks after a user is done selecting all the desired values.

[2022-02-02 08:19] snehilvj commented on #33
hmmm weird. I'll have a look at this. Thanks for reporting.

[2022-02-02 09:48] MartinHanewald opened #35 "DateRangePicker modal does not render inside of bootstrap offcanvas"
Hi there, thank you for your great work! This library is a very valuable extension to the dash ecosystem.

I have to report an issue with the DateRangePicker component. The picker popup does not render when inside an offcanvas sidebar from the dash bootstrap components. I have no idea about what the problem might be here. I drew up a minimal reproducible example

[code]

[2022-02-02 09:59] MartinHanewald commented on #35
![offcanvas issue](https://user-images.githubusercontent.com/31796919/152132259-afe23199-6e31-4fe6-93cf-3c47a9d1de05.gif)

[2022-02-02 12:31] #29 closed

[2022-02-02 12:43] snehilvj commented on #35
Hi @MartinHanewald
Thanks for your interest in dmc and drawing up this MRE. This behaviour is because of zIndex values of the Offcanvas and the DateRangePicker. The date range picker is actually popping up but behind the Offcanvas. To mitigate this, just set the zIndex value of date range picker to be higher than Offcanvas.
[code]
Thanks for bringing this into my notice, I'll try to create a secti

[2022-02-03 08:47] MartinHanewald commented on #35
Jeez, that was actually my first intuition! I tried around with setting different zIndexes via CSS, but apparently I did not catch the right selector. I did not see the parameter of the class itself. Thanks a bunch, for that quick response!

[2022-02-03 08:59] #35 closed

[2022-02-07 19:48] rick643charts commented on #33
Did some additional testing in Chrome, as well as Chrome incognito browser, and issue still persists. Tested in Microsoft Edge and issue is reproducible there too.

[2022-02-13 11:12] monuyadav016 opened #39 "maxDropdownHeight height for Multiselect not working"
If maxDropdownHeight property does what it says then it's clearly not functioning.

![image](https://user-images.githubusercontent.com/21173250/153750223-decda38e-5da5-42a0-b15f-bba5ac2c5411.png)

I would like the multiselect to occupy no more than the first line of values. I would be requiring few dropdowns that have hundreds of items to select and filter from. Is there any way I can fix the heig

[2022-02-17 06:29] snehilvj commented on #39
maxDropdownHeight sets the maximum height of the dropdown which is working fine. What you are looking for is not supported by MultiSelect component. But you should be able to get this behaviour using Checkbox Inputs with a Popover. Popover not available in dmc right now, I'll try to add it but meanwhile have a look at using Popover from dbc.

https://dash-bootstrap-components.opensource.faculty.ai

[2022-02-17 07:08] monuyadav016 commented on #39
Thank you @snehilvj . I thought it would restrict the height of the MultiSelect component. It occupies a lot of space when multiple things are selected and disturbs the entire layout.

[2022-02-17 07:43] #39 closed

[2022-02-19 10:36] Roh-codeur opened #40 "LoadingOverlay component"
Hi

A newbie to web development here. for newbies like me, this package is a god-send. I can't thank you enough for putting this together and doing such an amazing job at docs (which I am using to learn) as well!

Do you think we could have the below from mantine as well please?

https://mantine.dev/core/loading-overlay/

I am not very good at web development, but, if there is a straight forward w

[2022-02-21 03:39] snehilvj commented on #40
Hi @Roh-codeur thanks for your kind words. I’m already working on LoadingOverlay component for the 0.5.0 release. May I ask how you plan to use this component because dmc.LoadingOverlay doesn’t quite work like doc.Loading. I can make it work like that but I’d like to know your use case.

[2022-02-21 07:20] Roh-codeur commented on #40
Hi, I am planning to use this component as shown in the below link:

https://dash.plotly.com/dash-core-components/loading

I load some data from a file, show user a form, do some calculations etc. I, now, want to show the results in datatable, chart some results etc. the data table, graphs would be wrapped inside a Loading component, similar to the link shown above.

You are right, the component d

[2022-02-21 07:58] snehilvj commented on #40
You are right, Skeleton works like you intend it to except you can’t show a spinning loader. I’ll try to make LoadingOverlay work like dcc.Loading.

[2022-02-21 09:12] Roh-codeur commented on #40
Thanks buddy! I like how loading overlay can be used to overlay a form and the results at the same window. I would like to achieve the same effect if possible

Thanks!

[2022-02-21 12:26] snehilvj commented on #40
I have implemented the component similar to dcc.Loading. Here's how it will look:

https://user-images.githubusercontent.com/91216500/154955058-074099eb-cc68-4659-9005-3e3f420a615b.mov

[2022-02-21 12:59] #40 closed

[2022-02-21 14:21] Roh-codeur commented on #40
You bhai, are a Star! Thanks a lot. Does this also work the same way on forms? As in:
1. User fills a form
2. Presses submit to generate report of tables and charts

Overlay shows on both form and the data table, hiding when data table and graph have finished rendering?

[2022-02-21 17:24] snehilvj commented on #40
This component is released in version 0.5.0. Have a look [here](https://dash-mantine-components.herokuapp.com/components/loading-overlay).

[2022-02-21 18:05] Roh-codeur commented on #40
thanks buddy! this is awesome, you are a Star! I will give it a shot now.

[2022-02-24 06:50] sylvoslee opened #44 "Notification cannot be opened multiple times in version 0.5.0"
[code]

[2022-02-24 16:20] snehilvj commented on #44
Thanks @sylvoslee for reporting. I'll have a look, meanwhile, use Notification with `icon` prop.

[2022-02-25 20:31] ibby-dev opened #45 "Not available in anaconda or conda-forge sources"
Please could you add this to anaconda and/or conda-forge sources? Thank you.

[2022-02-26 01:29] bigmike36c opened #47 "DateRangePicker Singe Date Selection Issues"
Hello,

Really appreciate your work on this awesome project!

I'm having issues selecting a single date with the daterangepicker. The first issue is with the UI as shown below. When trying to select a single date the first time, the selection simply disappears. However, the second time I select a single date, it stays.

https://user-images.githubusercontent.com/81941044/155823051-aebb582d-e2f4-44b

[2022-03-01 06:34] snehilvj commented on #47
Hi @bigmike36c, Thanks for reporting this issue. I agree with your comment about the behaviour and I have corrected that (will be released in 0.6.0).
Regarding your second issue, can you please briefly explain your process? How will you use it if single date selection were to trigger a callback.

[2022-03-01 13:00] snehilvj commented on #45
Hi @ibby-dev thanks for reporting. I have initiated the process in https://github.com/conda-forge/staged-recipes/pull/18187

[2022-03-04 01:23] rick643charts commented on #33
Any progress on identifying the root cause of these behavior? Appreciate your support and continued development on this project!

[2022-03-04 06:43] emilhe commented on #33
@rick643charts What time zone are you in? What browser are you using?

[2022-03-04 06:45] bigmike36c commented on #47
Thanks for correcting this so quickly!

In my mind, if a user only selects a single date, then the user expects the date range to extend from the start date to the maximum date available.

The code snippet below is essentially how I've been handling this with the default dcc.DatePickerRange. If the callback is triggered with only one date selected (either start or end), the other date is simply se

[2022-03-04 06:51] rick643charts commented on #33
PST, experiencing the same behavior in both Chrome and Microsoft Edge. No errors being written to the JS console it appears. The backend value appears to be correct, just the displayed value is incorrect (e.g. selecting 2022-03-13 will propagate correctly in the relevant callbacks, but the display value in the component will be 2022-03-12).

[2022-03-05 01:14] kaburelabs commented on #33
@rick643charts It's already fixed an will be live in the next update

[2022-03-05 12:40] snehilvj commented on #47
Okay got it.
I can think about partial callback where in you at least get one date which is selected (keeping in mind backwards compatibility).
But I don't think we can do

It makes the date range picker less intuitive as to what's in the value is not what's displayed, etc.

[2022-03-05 15:08] snehilvj commented on #33
The issue has been fixed.

[2022-03-05 20:47] Roh-codeur opened #57 "Component similar to Loader"
Hi

Thanks for putting this together and your help earlier with Loader. May I request for a loader component similar to the below. The one you helped with earlier, seems to work with a Button. I now have a requirement to show loader when, say, the page/tab loads. One option is to use Skeleton, however, I feel Loader looks better

https://dash.plotly.com/dash-core-components/loading

please do let

[2022-03-06 02:27] bigmike36c commented on #47
Makes sense to me. Could the callback just trigger with `"selected_date"` as a string instead of a list? This would make it easy to handle both single date and range selections in the callback logic with the `isinstance()` function.

[2022-03-06 08:17] snehilvj commented on #57
Hi @Roh-codeur We have an alternative for dcc.Loading in dmc. Its called [LoadingOverlay](https://dash-mantine-components.herokuapp.com/components/loading-overlay). Is this what you are looking for?

[2022-03-06 10:30] Roh-codeur commented on #57
No, that's perfect mate. it works when I click on a Button. However, the dash core Loader also allows me to add a Loader to components and show a Loader, on say, page load. Unless I miss something (and I am sorry if I did), the LoadingOverlay does not allow me to do that. it only shows a Loader in response to a wait after a user action.

Say, I have a container which loads data table on page load.

[2022-03-07 21:31] rick643charts opened #58 "SegmentedControl treats value 0 as falsey"
It appears that the SegmentedControl component is treating a value of 0 as falsey. For example:

[code]

Yields the following:

https://user-images.githubusercontent.com/76791595/157121104-ed451e81-9d65-4711-b73c-ef3f276aa7ba.mp4

[2022-03-08 17:49] snehilvj commented on #58
Hi @rick643charts, this is because dmc.SegmentedControl expects `value` to be string. The reason you are not getting any type error is because dash does prop check only in debug mode. So if you develop apps with `debug=True`, you will see the error that `value` should be string.

[2022-03-08 17:57] rick643charts commented on #58
Thanks for the reply @snehilvj. I suppose this is part of a larger discussion / feature request, as I've been restructuring some existing applications to leverage `dash_mantine_components` in place of `dash_bootstrap_components` and some core Dash components. Do you currently have plans to accommodate label-value object arrays that allow non-string-type values similar to the core Dash components?

[2022-03-08 18:14] snehilvj commented on #58
This change is somewhat dependent on the React library beneath dmc. I'll raise it in the Mantine's discord channel to see if Mantine will support this.

[2022-03-08 18:20] snehilvj commented on #33
@rick643charts Just released 0.6.0 version of dmc, which includes the fix for datepicker not working properly in certain timezones. Can you please check [here](https://dash-mantine-components.herokuapp.com/components/datepicker) if its alright now?

[2022-03-08 18:23] rick643charts commented on #33
Confirmed it's functioning properly on my end now, thanks for the resolution here!

[2022-03-08 18:24] #33 closed

[2022-03-08 18:40] snehilvj commented on #57
LoadingOverlay does allow you to have loading indication on page load. For example have a look at this:

[code]

[2022-03-08 18:51] Roh-codeur commented on #57
ahh, thanks buddy! I see what you have done. super!

[2022-03-08 18:51] #57 closed

[2022-03-09 10:01] sylvoslee commented on #44
After adding the icon, it is ok

[2022-03-09 10:01] #44 closed

[2022-03-10 05:30] bigmike36c opened #59 "Accordion Component Issues with v0.6.0"
Hello,

When upgrading from v0.5.0 to v0.6.0, the behavior of the accordion component appears to have changed. The first screenshot is when using v0.5.0:
<img width="415" alt="Screen Shot 2022-03-10 at 12 23 45 AM" src="https://user-images.githubusercontent.com/81941044/157595907-6236dac7-8458-4ca6-a49d-d9c0296eaa64.png">

This second screenshot is the exact same code but is using v0.6.0 of dmc:
<

[2022-03-17 02:11] bigmike36c commented on #59
Finally had a chance to take a look at this and thankfully it was an easy fix. The `div` with the class `.mantine-Accordion-contentInner` had an additional `div` as the direct descendant before the content of `AccordionItem`. It appears that div was removed in `v0.6` so I just needed to update my CSS.

[2022-03-17 02:11] #59 closed

[2022-03-23 17:50] snehilvj commented on #45
@ibby-dev can you check now if it is available?

[2022-03-31 21:47] john-wallace-dev opened #62 "Passing custom control to menu?"
Is there a way to pass a custom control to Menu? Currently I get the '...' ActionItem, but would really like to use my own button as described in https://mantine.dev/core/menu/.

Great job, btw. Very helpful!

[2022-04-05 09:18] emilhe opened #63 "Tooltip not hiding after hover"
When a `Tooltip` is used with a disabled component, the tooltip doesn't disappear on hover end (unless the mouse is moved "out of the component" via the tooltip itself). As a result, the tooltip just "keeps hanging",

![image](https://user-images.githubusercontent.com/1623542/161721503-551446f6-da20-4457-bf8f-00f92a7f9de5.png)

Here is a minimal example,

[code]

[2022-04-05 11:20] emilhe commented on #63
Here is a temporary hack for fixing it,

[code]

[2022-04-06 16:59] john-wallace-dev opened #64 "Tabs with empty children throws a javascript exception"
When I set the children to a Tabs object to either None or [], I get a javascript exception:

"undefined is not an object (evaluating 'S[j].props')"

That happens when I write something line:

`
dmc.Tabs(
    id='some-id',
    children=[]
)
`

or

`
dmc.Tabs(
    id='some-id',
    children=None
)
`

For others running into this problem, my workaround when I shouldn't have any tabs is to create a T

[2022-04-07 21:06] john-wallace-dev commented on #62
For others having this problem, I gave my menu a class_name of 'example-menu' and used a css trick to hide the existing ... and display my svg. Something like this:

`
.example-menu button {
    width: 24px;
    color: transparent;  /* hide the ... */
}

.example-menu button:before {
    display: block;
    content: '';
    background: url('name-of-file-in-my-assets-folder.svg') no-repeat;
    bac

[2022-04-11 15:32] #63 closed

[2022-04-13 11:17] theodcr opened #65 "Publish to unpkg CDN"
Hi! Thanks for this project that brings great components to the Dash ecosystem!

I would like to use dash-mantine-components for a Dash project in production where I prefer to use the unpkg CDN for delivering the JS sources of Dash components. However I noticed that the sources for dash-mantine-components are inexistent on unpkg.

Do you plan to publish your components to NPM to make them availabl

[2022-04-15 16:53] snehilvj commented on #65
Hi @theodcr
I'll publish the components to NPM as soon as I am able to. Thanks for bringing this to my attention.

[2022-04-15 16:55] snehilvj commented on #62
Hi @john-wallace-dev The reason I am not able to do it as a part of dmc library itself is because of the way its handled in the Mantine react library. I am still working on it. Meanwhile, users can use your suggestion.

[2022-04-15 16:56] snehilvj commented on #45
Its part of conda-forge repo now.

[2022-04-15 16:56] #45 closed

[2022-04-21 10:57] pavolpluta opened #66 "DateRangePicker - Selecting same dates subsequently without clearing is not working"
When I want to select the same dates subsequently it's not working properly. The input field remains blank. It works when I click on the clear X symbol, but not when I select it.

Callback for blank value field is sadly also not triggered. Again, when I hit 'X' button, callback is triggered.

I'm including the video demonstration using docs daterangepicker as an example:

https://user-images.githu

[2022-04-30 12:02] #58 closed

[2022-05-10 19:45] theearthwanderer opened #67 "Add Pagination component"
Hello, it would be very helpful that the package supports Pagination component
https://mantine.dev/core/pagination/

Currently I have to use dash bootstrap Pagination as a workaround

[2022-05-25 06:44] NRVA opened #73 "Add thousand separator to input components"
Hello! It would be verry useful with thousand separators in NumberInput components, with option on which separator to use (eg. "," or whitespace).

[2022-05-25 08:09] jinopg opened #74 "onLabel and offLabel not working in switch component (Inner Labels)"
Inner Labels

import dash_mantine_components as dmc

dmc.Switch(
    label="I agree to sell my privacy",
    onLabel="ON",
    offLabel="OFF"
)

Also the bullet is not positioned at center of slot, its is top aligned

[2022-05-27 08:57] snehilvj commented on #74
Hi @jinopg
Can you provide the version of dmc you are using along with any screenshots? I can see it working fine on my machine as well as in the documentation.

[2022-05-27 11:00] snehilvj commented on #67
thanks to @kaburelabs it will be released in 0.9.0.

[2022-05-27 11:00] #67 closed

[2022-05-27 13:02] jinopg commented on #74
![dash mantine](https://user-images.githubusercontent.com/60698030/170704176-4203c2f9-fcbc-4a86-a3ba-6dd5be076514.png)
 dash_mantine Version is 0.8.0

[2022-05-30 08:19] Juasmis opened #75 "Dash app not loading when not in debug mode"
Hi, first of all thanks for porting this amazing library!

My dash application works perfectly when launched in debug mode, but when deactivating it the application will not load, in developer settings I can see it's due to:
[code]
![image](https://user-images.githubusercontent.com/48693399/170949233-40333690-8d84-47e3-8e4c-523a189959d0.png)

[2022-06-01 04:16] #73 closed, assigned to nobody

[2022-06-01 04:19] #75 closed

[2022-06-01 04:24] snehilvj commented on #74
Do you see this behaviour on https://www.dash-mantine-components.com/components/switch? If not then you might have a CSS file which is causing this issue or might be a browser issue. Which browser are you using btw?

[2022-06-01 04:39] jinopg commented on #74
I used the  same link for mantine switch.  I am not using any css for mantine. Parallelly i am using bootstrap components fot that I am using css files. But I tried a switch seperately in a tab and it didn't work properly. I am using edge browser. I think I tried with other browser also. I will check again and confirm that

[2022-06-01 05:06] snehilvj commented on #74
Can you please confirm if you see this issue in the documentation website or not?

[2022-06-01 16:03] Juasmis opened #76 "dayStyle property in datePicker"
Hi! I have a database with some information over the years. The user using the datePicker can select a day and if there is data then it can continue but if not an alert is generated. I would like it to make it easier for the user to select a date by highlighting the days with data with a green background (so when creating the component I would pass in a list of days and modify its appearance). I h

[2022-06-05 05:36] snehilvj commented on #62
This is improved in Mantine v5 (as seen in some of the alpha releases). Once Mantine v5 is released, dmc Menu will be upgraded too.

[2022-06-05 05:36] #62 closed

[2022-06-06 13:52] jinopg commented on #74
In documentation it works perfectly well, I tried with all browsers, everywhere it shows same output.
![switch dmc](https://user-images.githubusercontent.com/60698030/172174200-679f375e-bb10-4852-963b-c84e98dd5f24.PNG)

[2022-06-11 15:02] snehilvj commented on #74
If its working fine in docs, then it's because of some conflicting CSS. You can check in dev tools window of the browser for that conflicting CSS source. Otherwise you can share your repository and I'll have a look.

[2022-06-13 10:25] Don-Yin opened #77 "Not an issue"
Hi there,

This is an underappreciated and underadvertised project! I'm so glad I came across this today. Excellent work! Please continue!

Cheers,
Don

[2022-06-14 13:47] jinopg commented on #74
yes man you are right, its a conflicting CSS file from assets. when I removed it is working well. but my question how we could avoid this, I want to run a DASH application on a local machine, where I am restricted to use internet. If I keep dash bootstrap CSS files on assets will it make any issues??

[2022-06-14 17:52] snehilvj commented on #77
Thanks for the very kind words @Don-Yin.

[2022-06-14 17:52] #77 closed

[2022-06-15 01:19] Don-Yin opened #78 "switch progress bar color depending on the theme"
Hi there,

Again, this is not really issue. Because you don't have a discussion section, I'll post my question here; hope that's okay?

My question: is there a way to change the colours in the progress bar after changing the theme, so that the colour looks more consistent with each of the dark/light background?

Allow me to explain:

In light mode, the progress bars now look like this:

<img width

[2022-06-15 08:41] jinopg opened #79 "How to implement Dash bootstrap theme to dash mantine components"
I had integrated mantine components like buttons, text input, accordion etc to my bootstrap based Dash APP. **while selecting the DARK themes all component labels and text is unreadable**. Is there a way to resolve this. is there an simple way to resolve this at least.
![mantine theme issue](https://user-images.githubusercontent.com/60698030/173783308-f353db80-673f-47e8-bde6-9d15dc0ef3d4.jpg)
 the

[2022-06-16 19:58] blanning19 opened #80 "trying to use MultiSelect in a Modal. No values show in dropdown"
Hello, I am trying to implement a Multiselect object in a modal but when I open the modal, none of the values show.
Is this a known issue or am I doing this wrong?

Here is my modal code. I tested it and it works in my main form, but not in a modal:
[code]
The result is when I click in the dropdown on the modal window, nothing happens.
Is there a parameter I need to make it run in a modal window?

[2022-06-17 12:26] snehilvj commented on #80
Hi @blanning19
Can you share an MRE? I run this code and see now issues.

[code]

[2022-06-17 12:28] snehilvj commented on #79
Hi @jinopg
DMC supports dark theme via its MantineProvider component. Have a look [here](https://www.dash-mantine-components.com/components/mantineprovider) for more information.

[2022-06-17 13:17] blanning19 commented on #80
Hello!
Thank you for your quick response.

So I need to have multiple MultiSelects. For this example I just duplicated
you MultiSelect:

app.layout = html.Div(
    [
        dmc.Button("Open Modal", id="modal-demo-button"),
        dbc.Modal(
            id="modal",
            children=[
                dmc.MultiSelect(
                    label="Select 3D-axis plot variables:",

[2022-06-17 13:29] snehilvj commented on #78
Hi @Don-Yin
Supplying hex values for colors might be possible once Mantine v5 is released but until then you have to use the theme colors in DMC. However these theme colors can be modified as per your requirement. Just wrap your app with MantineProvider and define the new theme color.

[code]
How you generate these colors, you ask? Have a look here: https://omatsuri.app/color-shades-generator. I h

[2022-06-17 15:35] Don-Yin commented on #78
Hi @snehilvj ,

Thanks for your reply! Please correct me if I'm wrong; my next question is how you would apply those colours to individual progress bars. After adding these new colours to the theme provider, I discovered that they do not appear in the app. I attempted the following, but it did not appear to work:
[code]
+
[code]

Maybe I am doing something wrong?

Cheers,
Don

[2022-06-17 17:44] snehilvj commented on #80
Can you share the screenshots again. Don't think they were attached successfully here.

[2022-06-17 21:10] blanning19 commented on #80
Hi, here are the two images as attachments.
Thanks!

On Fri, Jun 17, 2022 at 11:44 AM Snehil Vijay ***@***.***>
wrote:

[2022-06-17 21:37] Don-Yin commented on #78
Thanks for your reply!

Why does the size have to be 10? I'm just curious. Does each of these elements serve a distinct function?

Plus, it seems like it only works when we directly wrap around the theme provider on the progress bar itself:

[code]

It stops working if we put the progress in a div:

[code]

Is this by design? Is there a way around this? This is totally fine but seemingly a bit str

[2022-06-23 15:41] blanning19 commented on #80
Hello.
I wanted to ask one more time if you had any luck with this.

I would rather use your tool than the dcc.Dropdown but it is working on the
modal for me.

Brad

On Mon, Jun 20, 2022 at 7:27 PM Brad Lanning ***@***.***> wrote:

[2022-06-24 03:34] blanning19 commented on #80
Hello.
 Have you tried more than one drodown in a modal?
Here is the code

app.layout = html.Div(
    [
        dmc.Button("Open Modal", id="modal-demo-button"),
        dbc.Modal(
            id="modal",
            children=[
                dmc.MultiSelect(
                    label="Select 3D-axis plot variables:",
                    id="selected-3d-attr",
                    value=[],

[2022-06-26 16:42] AnnMarieW commented on #80
Hi @blanning19

When posting an issue, it's important to include a _complete_ minimal example that can be copied, pasted, and run by someone else to reproduce the error you are seeing.  For more info on how to do this, see the Dash Community forum post - [How to get your questions answered on the forum](https://community.plotly.com/t/how-to-get-your-questions-answered-on-the-plotly-forum/40551).

[2022-06-26 22:36] blanning19 commented on #80
Thank you!

The zindex setting seems to have fixed the problem. !!

On Sun, Jun 26, 2022 at 10:42 AM Ann Marie Ward ***@***.***>
wrote:

[2022-06-27 17:07] snehilvj commented on #80
Thanks @AnnMarieW

[2022-06-27 17:07] #80 closed

[2022-06-27 17:07] #79 closed

[2022-06-29 06:53] jajberni opened #81 "Support for RangeSlider Input"
Congratulations on such an awesome development!

Any plans for supporting the RangeSlider component? It seems to be available in Mantine, so I hope it is not hard work.

Thank you in advance!

[2022-06-29 15:15] df-seagate opened #82 "Does dmc.MultiSelect creatable argument allow the user to enter a custom option?"
First I would like to say that these components are great!

I have the following:
[code]

I was expecting that with the creatable=True argument I would be able to add a new option to the dropdown.

Does MultiSelect component allow the user to add new options on the fly?

Thanks,
David

[2022-06-29 22:30] Juasmis commented on #65
Any updates on this?

[2022-07-14 14:51] RahulARanger opened #85 "updating the value of the Slider"
Hi, Really appreciate your work on this awesome project!

I have a small query, is it possible to update the `dmc.Slider` value through callbacks. I have tried to change the value.
its `value` prop changes but It is not reflecting on UI side.

Here's the small script. it prints the how the current value has changed for the slider after clicking the buttons. but it doesn't reflect on UI

[code]

Th

[2022-07-21 04:43] rick643charts opened #86 "ActionIcon n_clicks prop not triggering when assigned to bullet prop of TimelineItem"
It appears that the ActionIcon n_clicks prop is not triggering callbacks when assigned to the bullet prop of a TimelineItem component, for example:

[code]

Here is a sample callback, and you'll notice that it does not get triggered on click of the ActionIcon:

[code]

Fully reproducible example below:

[code]

[2022-07-21 05:31] rick643charts commented on #86
I've come up with a workaround that leverages some CSS absolute positioning to overlay a button on the bullet point and thus expose the n_clicks prop properly:

[code]

[2022-08-11 18:24] hrithikgavali opened #87 "[Feature Request] Input/Select components add debounce=True, n_submit and n_blur prop to trigger callback"
Hi there,

I switched my app to use Dash Mantine Components because of the beautiful components UI and flexibility. However, I miss the ability to debounce callbacks from input and dropdowns in dash core components. Debounce allows us to trigger callbacks on the input after losing focus or pressing Enter Key, instead of firing the callback for each letter typed in the input box.

1. Is there a way

[2022-08-15 02:29] mcpcpc commented on #87
I second the need for this! this would definitely make large pattern-matching callbacks “feel” more performant.

[2022-08-18 15:21] JulienPeloton opened #88 "Prism copy button not always working"
Hello,

I have the following snippet of code:

[code]

If I run it on my laptop (ubuntu 22.04), it works like a charm, but if I run it on a remote server (centos7), the copy-to-clipboard button does not work. In both cases, I access the app with firefox on my laptop (Version 103.0.2).

Dash is not returning any error, and I can see the button animated, but it does not go green and nothing is copie

[2022-08-23 03:46] nicedouble opened #89 "MultiSelect has no search_value parameter"
In dcc(Dash core components), the Dropdown component has **search_value** parameter.
But in dmc,the MultiSelect component has no such parameter.
I can not get serach value in my callback directly.

[https://dash.plotly.com/dash-core-components/dropdown](url)

[2022-08-23 10:04] kennethfungch opened #90 "Scrolling Capabilities within Drawer"
I have recently come across this package and I must say I have been very impressed by it. I am still pretty new in this but I am not sure whether it is possible to do scrolling within a drawer if the content exceeds the screen size.

Thanks!

[2022-08-24 19:27] snehilvj commented on #76
This is taken care of in the coming release.

[2022-08-24 19:27] #76 closed

[2022-08-26 17:37] larryhengl opened #91 "Change Loader color variant"
Hi,

I am trying to change the color variant of a Loader inside a filled Alert. The alert is the default solid dark blue and I want better contrast with the Loader inside it.  I tried using color="blue.1" for a light blue, according to the docs, but I get the following error:
[code]

The Alert call is
[code]
Any suggestions?

Thanks!

[2022-09-02 12:57] Juasmis commented on #86
Same thing happens when placing the action icon inside a numberInput component using the right section

[2022-09-02 13:32] Juasmis commented on #86
I tried applying your fix but it does not seem to work for the number input component, this is the code of the test app:
[code]

And here the css snippet:
[code]

¿Do you have an idea of what should be done differently?

[2022-09-06 13:14] Lxstr opened #92 "Color index support"
Is there any supprt for color index as per [https://mantine.dev/theming/colors/#colors-index-reference](https://mantine.dev/theming/colors/#colors-index-reference)?

The following code seems to have no effect
`dmc.Button(
                                        "Load data",
                                        variant="filled",
                                        color="green.9",

[2022-09-14 07:25] yaszin opened #93 "RadioGroup not rendering fully"
I've been experiencing this issue lately with dmc.RadioGroup.

Using the docs example :
`        dmc.RadioGroup(
            id="radiogroup",
            data=[
                {"value": "react", "label": "React"},
                {"value": "ng", "label": "Angular"},
                {"value": "svelte", "label": "Svelte"},
                {"value": "vue", "label": "Vue"},
            ],

[2022-09-14 21:49] JulienPeloton commented on #88
Actually, this was due to security (I was testing with http, not https). More information below:
https://community.plotly.com/t/dcc-clipboard-is-not-working-in-my-company-network/55899

[2022-09-14 21:49] #88 closed

[2022-09-27 08:27] nibu147 commented on #90
Same request here, as no scrollbar appears with the following code:

[code]

[2022-09-27 18:12] nibu147 commented on #90
... it turned out that the solution, @kennethfungch , was quite easy in my case. I just had to add a `style={'height': 500}` property to the `dmc.ScrollArea` element.

[2022-09-27 20:48] alexshoe opened #94 "Additional arguments/properties for dmc.AccordionItem"
`dmc.AccordionItem` needs `style` and `class_name` properties to allow for component-level styling.

Would also be very useful for `dmc.AccordionItem` to have a boolean `opened` property that indicates whether or not the item is opened.

[2022-10-01 09:41] snehilvj commented on #47
Ability to select single date won't be supported in dmc.DateRangePicker, for such purposes please use two date pickers.

[2022-10-01 09:41] #47 closed

[2022-10-01 10:05] snehilvj commented on #91
Hi, color indexing will be available in dmc 0.11.0a0.

[2022-10-01 10:05] #91 closed

[2022-10-01 10:06] snehilvj commented on #81
Hi RangeSlider has been added. Will be available in the next dmc release.

[2022-10-01 10:06] #81 closed

[2022-10-01 10:06] snehilvj commented on #92
Hi, color indexing support has been added in dmc, it will be available to you in the next dmc release.

[2022-10-01 10:06] #92 closed

[2022-10-01 10:51] snehilvj commented on #74
I have not heard of any compatibility issues between dash bootstrap and dash mantine components so far.

[2022-10-01 10:52] #74 closed

[2022-10-01 11:10] #78 closed

[2022-10-01 11:12] snehilvj commented on #86
Currently dash doesn't support callbacks for components as properties other than children.

[2022-10-01 11:12] #86 closed

[2022-10-01 12:54] Lxstr commented on #92
Amazing thanks

[2022-10-01 17:04] #85 closed

[2022-10-01 17:06] #90 closed

[2022-10-02 04:58] nlyle01 opened #95 "Add `href` argument to Button"
It would be great if `dmc.Button()` had an `href` keyword argument, so that a button click can route to a URL

[2022-10-02 22:14] mcpcpc commented on #95
Out of curiosity, why is this preferred over the standard `html.A()` wrap, which is the typical practice using the core dash components? i.e.

[code]

[2022-10-03 02:19] nlyle01 commented on #95
Great point @mcpcpc, I overlooked that. I was comparing to the functionality of the [dash boostrap button](https://dash-bootstrap-components.opensource.faculty.ai/docs/components/button/).

[2022-10-03 02:19] #95 closed

[2022-10-06 18:06] snehilvj commented on #82
Source library Mantine has a bug related to `creatable` feature. Waiting for that to be addressed.

[2022-10-07 16:39] snehilvj commented on #94
This has been taken care of in the master.
I don't think it's possible to have an `opened` property in Mantine, but I'm still exploring it.

[2022-10-10 19:41] snehilvj commented on #82
The bug has been fixed in Mantine and after upgrading its version in dmc, this feature is available in dmc too. It will be available in the next release.

[2022-10-10 19:41] #82 closed

[2022-10-10 20:02] snehilvj commented on #64
Fixed in the latest master.

[2022-10-10 20:02] #64 closed

[2022-10-11 09:22] #94 closed

[2022-10-11 09:23] snehilvj commented on #93
I think some other CSS is causing this problem. Can you verify by removing other stuff step by step?

[2022-10-11 09:25] snehilvj commented on #65
Not yet, I had to take up Javascript to Typescript migration. So the next release will be available through NPM as well.

[2022-10-11 09:26] snehilvj commented on #66
The issue still persists (even while using Mantine v5). I'll pick this up just before the release, but any proposal from the community is welcome.

[2022-10-17 10:55] juanfcocontreras opened #96 "conda-forge outdated"
Latest version in conda-forge repository is 0.9:

[code]

Could you please update it?

Thanks in advance!

[2022-10-18 13:47] rmotadutra opened #97 "The value of the slider component is not updated"
Trying to use a number input to update the slider component, but it's not possible.

Example of code:
[code]

![image](https://user-images.githubusercontent.com/47394022/196448723-c2c7af7e-a34d-4d9b-a4e8-285ba57e267b.png)

[2022-10-20 07:00] juanjomendezhealios opened #100 "Unable to add an image/icon to Select options"
Hi! I'm new to mantine components for Dash in Python, and I'm trying to use the Select component to show different options with an icon in the left, as I previously did with the component Dropdown of dash components.

![Screenshot 2022-10-20 at 08 51 36](https://user-images.githubusercontent.com/105805092/196876791-a8af76a9-6565-4a95-bcdd-993406e115e4.png)

I have decided to use the Select compone

[2022-10-21 14:06] Puebster opened #101 "Would it be possible to add the RangeSlider"
I already saw the implementation. Is it possible to add it as a component for python. If I install the latest version, Slider is available but RangeSlider isn't.

Would be great. Thanks

[2022-10-24 05:10] wakojako49 opened #102 "Debounce for textInput"
DMC is missing a debounce property similar to `use-debounced-state` hook in mantineJS. This would be useful for situations where you need to check if input exist in firestore.

[code]
With current textInput, Project Names like "supercalifragilisticexpialidocious" will have 34 reads in firebase which will make me broke.  Since the callback will trigger everytime there's a key press.

[2022-10-29 05:21] BSd3v opened #103 "Allow for Submittable Form"
Hello,

I’d like to make a submittable form.

In order to do so, the inputs will need to be able to have the name attribute optional. Up to you if defaults to id.

The button will need to be able to have the type attribute optional with default type as button.

[2022-10-29 11:34] snehilvj commented on #101
Hi @Puebster
RangeSlider has been added and it will be available in the next release based on Mantine v5, probably an alpha version - 0.11.0a0.

[2022-10-29 11:34] #101 closed

[2022-10-29 11:34] #93 closed

[2022-10-31 16:43] Elbarto opened #104 "import error - No module name Textarea"
Hi,

I just installed the dash_mantine_components 0.10.2 on a raspberry pi, and when trying to import it I get the following error :
[code]
I don't have the issue on windows so maybe it's linux specific ?
I've checked in the site-package what is wrong and indeed the module is named  TextArea and not Textarea, so Linux is case sensitive and windows isn't for package import ? (I do have the same ver

[2022-11-02 11:42] mcpcpc opened #105 "RangeSlider: unable to move handles"
## Issue Problem Statement

Unable to move range slider handles if minRange prop is not defined. This issue seems like to be intermittent, depending on the value of your min and max props.

![image](https://user-images.githubusercontent.com/37268479/199479573-76f125f5-8e9f-4bac-bbb0-c4dfaa8758a2.gif)

## Steps To Reproduce

### Requirements

[code]

### Minimal Working Solution

[code]

[2022-11-03 15:57] mcpcpc opened #106 "Button: visual not changing when disabled=True"
## Issue Problem Statement

Button `disabled` prop does not update the visual when set to True.  Functionally, it still works and prevents subsequent callbacks from firing when the button is pressed.

### Pre 0.11.0a0 release behavior

![button_disable_working](https://user-images.githubusercontent.com/37268479/199769703-09e048ea-1939-4bab-8b9c-45c41aedc79f.gif)

### Current 0.11.0a0 release behav

[2022-11-06 17:23] #106 closed

[2022-11-06 17:26] snehilvj commented on #104
Thanks @Elbarto for reporting the issue. This is not a problem in the latest 0.11.0a0 release, so should also not be present in 0.11.0 release. You can give the alpha version a try but I don't suggest using it in prod just yet.
https://github.com/snehilvj/dash-mantine-components/releases/tag/0.11.0a0

[2022-11-06 17:26] #104 closed

[2022-11-06 17:56] snehilvj commented on #103
button types have been added in 0.11.0a0 release. Also added `name` prop, which will be available in the next release.

[2022-11-06 17:59] snehilvj commented on #65
I have setup the repo to publish to npm, in fact I published the latest 0.11.0a0 release to npm. The issue was that on npm its listed as version 0.11.0-a0. So you can't really use it, but now that things are setup, the 0.11.0 release will be published on npm and you can use `serve_locally=False`.

[2022-11-06 17:59] #65 closed

[2022-11-06 18:52] snehilvj commented on #105
Hi @mcpcpc, I think what's happening here is that the default value of `minRange` prop is 10, so when you set the `max` to be 6, you need to change the `minRange` prop as well, for example, you can set it to 3.

In the MWS code you have shared, the `max` is set to 50, more than the default `minRange`, so should not see the above issue.

There is another issue with RangeSlider which is observed whe

[2022-11-06 20:01] BSd3v commented on #103
Just confirming, this is for all inputs, not just TextInput? (PasswordInput,etc)

[2022-11-07 06:37] snehilvj commented on #103
Yes of course.

[2022-11-10 21:44] nlyle01 opened #108 "Progress Sections: Tooltip prop missing"
Trying to use progress [tooltips](https://mantine.dev/core/progress/#sections-tooltips) (`dash-mantine-components/src/ts/components/core/` [Progress.tsx](https://github.com/snehilvj/dash-mantine-components/blob/master/src/ts/components/core/Progress.tsx#L10)), but the `tooltip` prop doesn't seem to be valid.

Dash error:
[code]

Sample app to reproduce error:
[code]

[2022-11-12 03:51] snehilvj commented on #108
This has been added in 0.11.0a0 release. Find it here: https://dmc-docs-pr-26.onrender.com/components/progress

[2022-11-12 14:59] #108 closed

[2022-11-12 21:49] snehilvj commented on #105
Issue has been resolved upstream and dmc master has been updated.

[2022-11-12 21:49] #105 closed

[2022-11-13 10:01] snehilvj commented on #97
@rmotadutra I don't see this problem in the latest master, so it should go away in the next release.

[2022-11-13 10:01] #97 closed

[2022-11-13 10:35] snehilvj commented on #102
This has been added in all inputs, thanks for creating this issue. This will be available in the next release.

[2022-11-13 10:35] #102 closed

[2022-11-13 10:48] snehilvj commented on #87
I added ability to debounce callbacks by a certain duration, i.e., you can specify `debounce=600` in your component and it will debounce callbacks by 600ms. Does it solve your purpose?

[2022-11-13 12:19] joshgoldenbergno10 opened #109 "Add mantine Stepper component"
https://mantine.dev/core/stepper/

As discussed on discord - we want the ability to have a high level of timeline of the things that need to happen and then when you click on each step you see eg visualisations or information about the decisions. We currently use tabs quite a lot for things adjacent to this but the problem with them is it's pretty hard to give extra descriptive information on them

[2022-11-14 20:33] knightjdr commented on #87
The debounce you've added is a useful feature, and technically what debounce should be doing. However, the debounce property in Dash Core Components will trigger a callback only when focus is lost or the enter key is pressed, rather than being based on a time interval. They shouldn't have called it debounce, but nevertheless.

The feature you have added will work for me for the time being, but if

[2022-11-14 20:42] #103 closed

[2022-11-15 05:40] ankris-kri opened #111 "Select component with searchable as True, we are getting autocomplete popover. can we block it"
With searchable set to True in select/multiSelect, we are getting autocomplete popover for the dropdown. Can we set autoComplete = "none" for that <input>

[2022-11-16 16:56] BSd3v opened #112 "Allow for Parameter Persistence"
Hello,

Please add the parameter persistence for inputs, this is necessary when using these elements repeatedly. 👍

[2022-11-16 16:57] BSd3v commented on #112
saw that this was addressed

[2022-11-16 17:01] BSd3v commented on #112
Saw that that was to make it optional, the persistence prop is not available for inputs.

[2022-11-17 16:35] Tomax77 opened #113 "Black bars in MultiSelect Dropdown window"
I've been faced with the problem, that my Dropdown window shows black bars at the bottom an on the right side. This seems not to be related with used CSS. How can I solve this problem?
Beside of the problem this is a really fantastic component.

![Bildschirmfoto 2022-11-17 um 17 28 59](https://user-images.githubusercontent.com/13718275/202503786-99e90a9c-8570-4669-aa81-437928bfbe79.png)

[2022-11-17 18:44] snehilvj commented on #113
Hi @Tomax77, wrap your app in dmc.MantineProvider to resolve this issue.

[code]

[2022-11-17 18:44] snehilvj commented on #112
@BSd3v can you please elaborate?

[2022-11-17 18:54] carafry opened #114 "Add Mantine Popover Component"
Thanks for looking into this.  It would make it a lot easier for us to describe the sources of our data if we could use the Mantine Popover component in Dash.  Thanks.

https://mantine.dev/core/popover/

[2022-11-18 09:49] Tomax77 commented on #113
Tried to wrap my Bootstrap approach within Mantine Provider, but that doesn't change anything regarding the black bars. Did I make a mistake?

`app.layout = dmc.MantineProvider(
    withGlobalStyles=True,
    withNormalizeCSS=True,
    children=[
        dbc.Row(dbc.Col(title,width=12)),
        dbc.Row(dbc.Col(form_content, width=12)),
        ]
)`

[2022-11-18 14:11] nielsdewitte420 commented on #111
I'm facing a similar issue as @ankris-kri  reported. Below a quick example:

![image](https://user-images.githubusercontent.com/20623847/202723835-f0cdd487-2d2a-4571-a0d8-f77dd507ead6.png)

In this example you select a 'Project', however if you have chosen one of these options in the past, you get an autocomplete which is undesired. I'm using Google Chrome.

[2022-11-19 05:53] wakojako49 opened #115 "dmc.TextInput() has "search" type but no data input for it to search from."
Mantine JS has a component called [Autocomplete](https://mantine.dev/core/autocomplete/) which seems similar to `dmc.TextInput()`, which has a search "type". I think the only thing that it needs is a data input that [Autocomplete](https://mantine.dev/core/autocomplete/) also has. Such that the code would look like this.

[code]

Not sure if this is worthwhile but since we're at it maybe allow data

[2022-11-23 11:59] BSd3v commented on #87
Currently, I cannot use this version of debounce because it triggers the callback and I have a running state that causes the input to disappear from the field of view.

[2022-11-24 14:55] snehilvj commented on #112
You seem to be using it incorrectly. Refer to the docs here: https://dash.plotly.com/persistence

[2022-11-24 15:01] BSd3v commented on #112
Persistence is a prop available for dmc? I couldn’t see it in docs.

[2022-11-26 04:11] BSd3v commented on #112
@snehilvj,

`TypeError: The `dash_mantine_components.TextInput` component (version 0.11.0a2) with the ID "facet_col_wrap" received an unexpected keyword argument: `persistence`
Allowed arguments: className, debounce, description, disabled, error, icon, iconWidth, id, inputWrapperOrder, label, m, mb, ml, mr, mt, mx, my, name, p, pb, pl, placeholder, pr, pt, px, py, radius, required, rightSection, r

[2022-11-27 13:09] jcuypers opened #116 "Issue with setting the data property of a DMC Select component"
Using the data property directly on the component works correctly, but trying to set it or modify it through a callback fails without an error.   tested against 0.11.0a2

[code]

[2022-11-28 17:57] snehilvj commented on #114
Added HoverCard for now (should be available to you in the next release). Will revisit popover in one of the later releases. https://mantine.dev/core/hover-card/.

[2022-11-28 18:27] snehilvj commented on #112
Thanks @BSd3v for reporting this. I missed to add persistence in text inputs. Will be available in the next release.

[2022-11-28 18:27] #112 closed

[2022-11-28 19:02] snehilvj commented on #111
Fixed. Will be available in the next release.

[2022-11-28 19:02] #111 closed

[2022-11-28 19:15] snehilvj commented on #115
Thanks @wakojako49 for reporting this. I think it's better to have a dedicated AutoComplete component. I'll work on adding it in the next release.

I'd rather have components like these and many others (useful combinations of various Mantine components) in a separate package, something like `dmc-extra-components`. I don't know if I'll be working on it though - open to the community.

[2022-11-28 19:59] snehilvj commented on #116
Thanks @jcuypers for reporting this issue. This has been fixed and will be available in the next release.

[2022-11-28 19:59] #116 closed

[2022-11-28 20:05] snehilvj commented on #100
This won't be part of the main dmc library. I think a better place for them is a separate library, maybe called dmc-extra-components, though I won't be working on it - open to the community.

[2022-11-28 20:05] #100 closed

[2022-11-28 22:55] yuribr84 opened #117 "DatePicker and DateRangePicker minDate and maxDate properties are set one day prior to specified"
## Enviroment

- Python 3.10.4
- `pip list | findstr dash`
[code]

- Same on all browsers I tested:
  - Chrome 107.0.5304.107
  - Firefox 102.5.0esr (64-bit)

## Bug description
When setting the minDate and maxDate properties on a DatePicker or a DateRangePicker component, the enabled dates displayed at runtime are one day prior to the dates specified. This issue can be replicated in the first exa

[2022-11-29 03:30] Lxstr opened #118 "Docs on selectOnBlur"
Just wondering exactly what this feature does? I could not find any reference to it other that "Select highlighted item on blur." which I don't quite understand.

Thanks!

[2022-11-29 08:21] Lxstr commented on #34
@snehilvj Hi there. I'd be interested to help implement this!